<div class="item">
  <h2><%= post.title %></h2>
</div>
<div class="item">
    <i>
      <strong>Posted: </strong><%= time_tag post.created_at, 'data-local': 'time-ago' %> -
      <strong>Comments: </strong><%= pluralize post.comments.count, 'comment' %> -
      <strong>Status: </strong><%= post.status %>
    </i>
</div>

<div class="item">
    <p>
      <h4>Content:</h4>
      <%= post.content %>
    </p>
</div>