<%= turbo_stream_from 'posts' %>

<p style="color: green"><%= notice %></p>

<h1 class="header">Alex's Blog</h1>

<p class="link-btn">
  <%= link_to "+ Create new post", new_post_path%>
</p>

<%= render "posts/posts", posts: @posts %>

<p class="link-btn">
  <%= link_to "+ Create new post", new_post_path%>
</p>