<%= turbo_stream_from @post %>

<p style="color: green"><%= notice %></p>
<p class="link-btn">
<%= link_to "Back to posts", posts_path %>
</p>

<%= render @post, { :show => false }%>
<%= render "posts/comments", post: @post %>

<div class="link-btn bottom">
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
